{% extends "base.html" %} {% block title %}Contact Details{% endblock %} {% block content %}
<br>
<h1 align="center">{% block header %}Contact Details{% endblock %}</h1>
<br>
<div id="information">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3>Programmer Skill Set</h3>
        </div>
        <div class="card-body">
            <div id="cardcarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#cardcarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#cardcarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#cardcarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="row">
                                <div class="col"></div>
                                <div class="col-10">
                                    <div class="card">
                                        <div class="card-header d-flex justify-content-between align-items-center">
                                            <h3>Stuff</h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="card-text">Information</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col"></div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row">
                                <div class="col"></div>
                                <div class="col-10">
                                    <div class="card">
                                        <div class="card-header d-flex justify-content-between align-items-center">
                                            <h3>Stuff</h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="card-text">Information</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col"></div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row">
                                <div class="col"></div>
                                <div class="col-10">
                                    <div class="card">
                                        <div class="card-header d-flex justify-content-between align-items-center">
                                            <h3>Stuff</h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="card-text">Information</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#cardcarousel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#cardcarousel" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
<br>
<div id="general">
    <div class="card">
        <div class="card-header d-flex" align="center">
            <h3>Main Areas of Expertise</h3>
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card h-100 border-light">
                            <div class="card-body">
                                <h5 class="card-title" align="center">Discord.py API</h5>
                                <p class="card-text">One of my biggest projects (currently still running) is the creation, development, and maintenance of a Discord.py bot for a gaming community server</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 border-light">
                            <div class="card-body">
                                <h5 class="card-title" align="center">Flask Web Framework</h5>
                                <p class="card-text">In order to build this resume website, I am currently using a Flask application running on a hosted server; I have also made a simple tasklist webapp with Flask</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 border-light">
                            <div class="card-body">
                                <h5 class="card-title" align="center">Database Integration</h5>
                                <p class="card-text">For my various projects involving data storage, I was able to get familiar with both SQL-based (MariaDB, SQLite) and NoSQL (MongoDB) structures for databases</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div id="general">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3>Stuff</h3>
        </div>
        <div class="card-body">
            <div class="card-text">Information</div>
        </div>
    </div>
</div>
<br> {% endblock %}